/* Base Style*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --primary: #5c3a3a;
    --secondary: #FFFFFF;
    --accent: #F7CA4E;
    --success: #4cc9f0;
    --warning: #f27585;
    --dark: #2b2d42;
    --gray: #8d99ae;
    --sidebar: #FFFFFF;
    --sidebar-width: 280px;
    --sidebar-minimized-width: 80px;
    --header-height: 80px;

    /* Light theme variables*/
    --body-bg: Linear-gradient(135deg, #f0f2f5, #e4e7f0);
    --text-color: #cccdd3;
    --card-bg: white;
    --progress-bar-bg:#1853a1;
    --time-bg: #f0f2f5;
    --header-bg: #white;
    --border-color: #e2e2e2;
    --shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    --footer-bg: #2b2d42;
    --footer-text: white;
    --grid-line: #e9ecef;

     --card-shadow: 0 4px 12px rgba(0, 0, 0 0.8);
}

/* dark theme variables*/
.dark-mode{
    --body-bg: Linear-gradient(135deg, #121212, #1a1a1a);
    --text-color: #FFFFFF;
    --card-bg: #1e1f3a;
    --header-bg: #1e1f1a;
}

/*Main grid layout*/
.dashboard{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: var(--sidebar-width) 1fr;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    -ms-grid-rows: var(--header-height) 1fr auto;
    grid-template-rows: var(--header-height) 1fr auto;
        grid-template-areas: 
    "sidebar header"
    "sidebar content"
    "sidebar footer";
    min-height:  100vh;
    -webkit-transition:  all 0.3s ease;
    -o-transition:  all 0.3s ease;
    transition:  all 0.3s ease;
}
/*
.dashboard {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
  height: 100vh;
  overflow: hidden;
  
  gap: 0; /* remove gap */


/* Mobile oer lay*/
.main-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 150;
    opacity: 0;
    -webkit-transition: opacit 0.3s ease;
    -o-transition: opacit 0.3s ease;
    transition: opacit 0.3s ease;
}
/* Target each of the grid templet*/
/*header area*/
.header{
    grid-row: 1;
    grid-column: 1;
    padding: 10px;
    grid-area: header;
    background: var(--header-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow:  rgb(193, 8, 193);
            box-shadow:  rgb(193, 8, 193);
    z-index: 100;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    gap: 150px;
    position: fixed;
    top: 50;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    z-index: 100;
    border-bottom: 2px solid rgba(93, 88, 88, 0.1);

}   
.header-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    padding-left: 20px;
}
.header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    float: right;
    padding-right: 10px;
}
.mobile-toggle{
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
}
.search-bar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--time-bg);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    width: 300px;
}
.search-bar i{
    color: var(--gray);
}
.search-bar input{
    border: none;
    background: transparent;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
    color:  var(--text-color);
}
.sidebar{
    grid-row: 1;
    grid-row: 3;
    grid-column: 1;
    padding-left: 10px;
    padding-bottom: 10px;
    grid-area: sidebar;
    background: var(--sidebar);
    color: black;
    z-index: 100;
    overflow-y: auto;
    height: 100vb;
    position: fixed;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;  left: 20;
    width: var(--sidebar-width);
    height: 100vh;
}
.theme-toggle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--card-bg);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
            box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
}
.theme-toggle :hover{
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.notification, .user-profile{
    position: relative;
    cursor: pointer;
    
}
.notification-badge{
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--warning);
    color: rgb(197, 72, 72);
    font-size: 0.7rem;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.user-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    background: var(--grid-line);
    color: white;
}
/*sidebar area*/
.logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #121212;
    border-bottom: 2px solid rgba(93, 88, 88, 0.1);
    gap: 0.1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    padding: 20px;
}
.logob{
    width: 30px;
    height: 30px;
}
.nav-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
}
.nav-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.9rem 1.5rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    color: #361616;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 500;
    overflow: hidden;
}
.nav-item.active{
    width: 132px;
    height: 40px;
}
.nav-item :hover, .nav-item.active{
    background: #000000;
    color: #FFFFFF;
    border-radius: 6px;
}
.nav-title{
    top: 30px;
    padding-bottom: 20px;
}
.nav-item i{
    margin-right: 1rem;
    font-size: 1.2rem;
    min-width: 24px;
    text-align: center;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
/*content area*/
/*
section.content-section{
grid-area: content;
padding: 2rem;
display: grid;
grid-template-columns: 3fr 1fr;
grid-template-rows: auto auto auto auto;
gap: 2rem;
grid-template-areas: 
"Welecome profile" 
"Project stst" 
"Time line" 
"Users Users";

grid-area: content;
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  padding: 2rem;
  overflow-y: auto;
  height: calc(100vh - var(--header-height));
}

*/
.content-section {
  grid-row: 2;
  grid-column: 2;
  grid-area: content;
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  padding: 2rem;

  height: calc(100vh - var(--header-height));
overflow-y: scroll !important; /* force scrollbar */
 margin-top: -20px; /* adjust px */
 padding-left: 0; 
}

.welcome-banner{
    grid-area: welcome;
    background: -o-linear-gradient(315deg, var(--primary, --secondary));
    background: linear-gradient(135deg, var(--primary, --secondary));
    border-radius: 16px;
    padding: 2rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.welcome-banner h1{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
/*footer area*/
.footer{
    grid-row: 3;
    grid-column: 2;
    grid-area: footer;
    background: var(--footer-bg);
    color: var(--footer-bg);
    padding: 1.5rem 2rem;
    font-size: 0.9rem;
    text-align: center;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: sticky;
}