* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.allcourses-wrapper {
  background: #6865650c;
  width: 100%;
  max-width: 920px;
  top: 100px;
  left: 250px;
  position: absolute;
  height: auto;
  @media screen and (min-width: 400px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.course-wrapper h2{
  color: #000000;
}
.course-conti {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.course-conti .conti {
  @media screen and (max-width: 768px) {
    width: 100%;
    background-color: #f7ca4e;
    display: flex;
    flex-direction: column;
  }
}
.back-to-course {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}
.back-to-course button {
  background-color: white;
  border: white;
  cursor: pointer;
}
.back-to-course span h1 {
  font-weight: 500;
  font-size: 24px;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0px;
}

.course-card {
  width: 100%;
  min-width: 400px;
  min-height: 329px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 24px;
  color: #000000;
  border: 1px solid #55555533;
}
.course-card h2{
  text-align: left;
  font-family: DN sans;
  font-weight: 500;
  font-size: 16px;
  font-style: medium;
}
.course-info .info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 12px 0;
  border-bottom: 1px solid #333;
}
.label {
  color: #555555;
  display: flex;
  flex-direction: row;
}
.value {
  font-weight: 600;
  color: #555555;
  text-align: right;
}
.buy-btn {
  width: 100%;
  max-width: 385px;
  min-height: 50px;
  padding: 18px 16px;
  background-color: #f7ca4e;
  color: #000000;
  border: none;
  border-radius: 20px;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.next-btn {
  width: 100%;
  max-width: 385px;
  min-height: 50px;
  padding: 18px 16px;
  background-color: #55555533;
  color: #000000;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 260px;
  position: relative;
}
.conti-q {
  align-items: center;
  text-align: left;
}

.experts {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  @media screen and (min-width: 400) and (max-width: 768) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.expert-cart {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 400) and (max-width: 768) {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.expert1 {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.expert1 h1 {
  color: #000000;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
}

.expert1 p {
  color: #50515a;
  font-size: 18px;
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0px;
  line-height: 100%;
  padding: 10px;
}

.expert11 {
  display: flex;
  flex-direction: column;
}

.imgr {
  max-width: 435px;
  min-height: 200px;
  top: 10px;
  left: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  padding-bottom: 15px;
}

.card-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.ato {
  display: flex;
  gap: 250px;
}

.News {
  background-color: #f7ca4e;
  border: #f7ca4e;
  border-radius: 20px;
  max-width: 190px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  font-style: medium;
  font-family: DM sans;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  top: 50px;
  left: 300px;
  position: relative;
}

.SETTING {
  font-size: 0.9rem;
  background-color: var(--text-color);
  display: block;
  flex-direction: column;
  padding-bottom: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-grow: 1 200;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-grow: 1 200;
  line-height: 20px;
}

.SETTIN button {
  color: #404042;
  width: (1500px);
  max-height: 49px;
  border-bottom: 2px;
  padding: 10px;
  grid-area: 10px;
  font-weight: 900;
  font-size: 20px;
}

.container-main {
  width: 550px;
  height: 500px;
  top: 30px;
  left: 250px;
  position: relative;
}

.SETTIN {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
}

.form-container label input {
  width: 550px;
  height: 40px;
  display: block;
  border-radius: 10px;
  padding: 20px;
}

.SETTIN p {
  color: #ffffffcc;
}

.course-section {
  width: 100%;
  max-width: 600px;
  min-height: auto;
  top: 70px;
  left: 220px;
  position: absolute;
}

.course-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.course-wrapper {
  width: 100%;
  max-width: 551px;
  height: 358px;
  top: 186px;
  left: 290px;
  border-radius: 20px;
  color: #ffffff;
}
.course-wrapper h2 button {
  display: block;
  left: 120px;
}
.mes {
  max-width: 80px;
  height: 50px;
  top: 5px;
  left: 5px;
  z-index: 30px;
}

/*** All courses css */
.models img {
  padding: 10px 0px;
  width: 100%;
  max-width: 1054px;
  min-height: 442px;
  border-radius: 20px;
}
