*{
    padding: 0px;
    margin: 0px;
}
main{
    background-color: #FFFFFF;
}

div.article{
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: Times New Roman, Times, serif;
    padding-top: 60px;
}
div.article-title{
    text-align: center;
    color: #ffffff;
    font-family: Times New Roman, Times, serif;
    width: 400px;
    height: 400px;
}
.newc{
    background-color: #F7CA4E;
    border-radius: 8px;
}
.features{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.feature-c{
    width: 676px; height: 100px; top: 100px; left: 382px;
    text-align: center;
    font-family: DM Sans; font-weight: 700; font-size: 25px; font-style: Bold; line-height: 50px; letter-spacing: 0%;
}
.features-card{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 282.51px;
    left: 121px;
    width: 1,197px;
    height: 274px;
    text-align: center;
    gap: 23.25px;
    
}
.f-card{
    background-color: #F5F5F5;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 300px;
    height: 184px;
    border-radius: 24px;
    padding: 30px 33px;
    gap: 26px;

}

.colabration{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 2034px;
    margin: 20px;
    padding: 30px;
    width: 1440px;
    height: 1088px;
    gap: 10px;
}
.colab{
    width: 1,126px;
    height: 427px;
    gap: 50px;
    top: 60px;
    left: 157px;
    display: flex;
    flex-direction: row;
}
.myi{
    background-color: #4E7BF7;
    width: 494px;
    height: 427px;
    border-radius: 20px;
}
.colo{
    display: flex;
    flex-direction: column;
    width: 562px;
    height: 350px;
    gap: 50px;
}
.learners-goals{
    align-items: center;
    text-align: center;
    width: 1,440px;
    height: 1090px;
    background-color: #000000;
    color: seashell;
    
}

.knowledge{
    background-color: #ffffff;
    width: 1,440px;
    height: 400px;
}
.knowledge-exp{
    display: block;
    justify-self: start;
    align-items: center;
    background-color: #F7CA4E;
    width: 800px;
    height: 300px;
    left: 200px;
}
.bt{
    background-color: #000000;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 8px;
}