*{
    padding: 0px;
    margin: 0px;
}
main{
    background-color: #000000;
}
.CTA{
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 900px;
    height: 392px;
    top: 100px;
    left: 230px;
    
    position: relative;
}
.cta-text{
    width: 900px;
    height: 186px;
    
}
.cta-h1{
    font-weight: 700px;
    font-family: DM Sans;
    font-style: Bold;
    font-size: 68px;
}
.cta-h1-p{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0%;
}
div.article-title{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: Times New Roman, Times, serif;
    width: 400px;
    height: 400px;
}
.newc{
    background-color: #F7CA4E;
    border-radius: 20px;
    width: 195px;
    height: 55px;
    padding: 18px 16px;
    gap: 10px;
}
.join{
    justify-content: center;
    align-items: center;
    
}
.groupimg{
    justify-content: center;
    align-items: center;
    width: 123px;
    position: relative;
    left: 390px;
    height: 40px;
}
.hero-img{
    background-image: url(../assets/images/Dashboard\ 2.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
.logo-slides{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #E8E8E8;
    width: 1,440px;
    height: 136px;
    gap: 200px;top: 1241px;
}
.logos1{
    background-image: url(..//images/book.png);
}
.features{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.feature-c{
    width: 676px; height: 100px; top: 100px; left: 382px;
    text-align: center;
    font-family: DM Sans; font-weight: 700; font-size: 25px; font-style: Bold; line-height: 50px; letter-spacing: 0%;
}
.features-card{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 282.51px;
    left: 121px;
    width: 1,197px;
    height: 274px;
    text-align: center;
    gap: 23.25px;
    
}
.f-card{
    background-color: #F5F5F5;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 300px;
    height: 184px;
    border-radius: 24px;
    padding: 30px 33px;
    gap: 26px;

}

.colabration{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 24px;
    width: 1440px;
    height: 1088px;
    gap: 10px;
}
.colab{
    width: 626px;
    height: 527px;
    gap: 20px;
    top: 10px;
    left: 330px;
    display: block;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.myi{
    background-image: url(../assets/images/28\ \(1\)\ 1.png);
    background-color: #4E7BF7;
    width: 500px;
    height: 220px;
    border-radius: 10px;
    image-rendering: auto;
}
.myii{
    background-image: url(../assets/images/15\ 1.png);
    background-color: #4E7BF7;
    width: 500px;
    height: 220px;
    border-radius: 10px;
    image-rendering: auto;
}
.colo{
    display: flex;
    flex-direction: row;
    text-justify: initial;
    width: 562px;
    height: 250px;
    gap: 20px;
}

.learners-goals{
    align-items: center;
    text-align: center;
    width: 1,440px;
    height: 1090px;
    background-color: #000000;
    color: seashell;
    justify-content: center;
}

.knowledge{
    background-color: #ffffff;
    width: 1,440px;
    height: 400px;
}
.kn
.goals{
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.learner-card{
    border: 1px solid gray;
    border-radius: 10px;
    display: block;
    width: 230px;
    height: 230px;
    flex-wrap: wrap;
}
.lent1{
    background-image: url(../assets/react.svg);
}
.knowledge-exp{
    
    background-color: #F7CA4E;
    width: 800px;
    height: 250px;
    left: 200px;
    top: 80px;
    position: relative;
}
.kta{
    bottom: 500px;
    justify-content: center;
    align-items: center;
}
.bt{
    background-color: #000000;
    color: #ffffff;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 8px;
}