/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
  padding: 0;
  margin: 0;
}
.header-container{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #000000;
}

.navbar{
  width: 100%;
  max-width: 1500px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0 32px;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-center{
  display: flex;
  align-items: center;
  gap: 36px;        
}
.navbara{
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
}
.nav-center :hover{
  background: #a9b6b6;
}
.cta-button {
  color: #F7CA4E;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border: 1px solid #F7CA4E;
}
.cta-button:hover {
  background: #a9b6b6;
}

/*responsiviness*/
.mobile-menu{
  display: none;
  cursor: pointer;
}
.menu-toggle{
  display: none;
  border: none;
  font-size: 28px;
}
.mobile-menu.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 20px;
}
@media (max-width: 768px) {
  .nav-center{
    display: none;
  }
  .nav-right{
    display: none;
  }
  .menu-toggle{
    display: block;
  }
  .navbar{
    padding: 0 5px;
  }
}











